.campo {
  display: flex;
  flex-direction: column;
  width: 85%;
  margin: 10px auto;
}

.campo label {
  margin-bottom: 6px;
  font-weight: 600;
  color: #000;
}

.campo input,
.campo select {
  width: 100%;
  padding: 10px;
  border-radius: var(--radio);
  border: 1px solid #aaa;
  font-size: 1rem;
  outline: none;
  transition: 0.2s;
  background-color: #fff;
}

.campo input:focus,
.campo select:focus {
  border-color: var(--color-principal);
  box-shadow: 0px 0px 5px rgba(242, 182, 208, 0.5);
}

.campo select {
  width: 100%;
}

.contenedor-password {
  position: relative;
  width: 100%;
}

.btn-ojito {
  position: absolute;
  right: 0.75rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #444;
  width: 5px;
  padding: 0;
}

.btn-ojito:hover {
  color: #000;
}

.btn-ojito:focus {
  outline: none;
}

@media (min-width: 1000px) {
  .campo {
    width: 300px;
  }
}
