.header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: black;
  margin-top: 20px;
  width: 98vw;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

h2 {
  margin: 5px 0;
  font-family: 'Arial', sans-serif;
}

.header-spacing {
  display: none;
}

.header nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 10px 0;
}

.header nav a {
  text-decoration: none;
  font-size: 16px;
  color: #222;
  font-weight: 800;
  transition: 0.3s;
}

.header nav a:hover {
  color: #007bff;
}

.header nav .btn-logout {
  background: #d9534f;
  color: #fff;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.header nav .btn-logout:hover {
  background: #b52f2b;
}

@media (min-width: 1000px) {
  .header {
    flex-direction: row;
    gap: 20px;
    margin: 0 auto;
  }
}
