.invitacion {
  background: linear-gradient(to right, #b3f0c4, #a5d8ff);
  color: #002b7f;
  font-weight: bold;
  text-align: center;
  border-radius: 15px;
  width: 85%;
  margin: 20px auto;
  padding: 10px;
  font-size: 1rem;
  letter-spacing: 2px;
}