.lista-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  color: #000;
  text-align: center;
}

.servicio {
  width: 90%;
  margin-bottom: 15px;
}

.servicio p {
  font-size: 1rem;
  line-height: 1.4;
}

.icono {
  font-size: 1.2rem;
  margin-right: 4px;
}

.pregunta {
  margin-top: 10px;
  font-weight: 500;
  color: #000;
}

@media (min-width: 1000px) {
  .lista-servicios {
    width: 95%;
  }
  .servicio {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .servicio p {
    font-size: 1.7rem;
  }
  .icono {
    font-size: 2.5rem;
    margin-right: 8px;
  }
  .pregunta {
    font-size: 1.7rem;
  }
}