.pagina-registro {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Arial", sans-serif;
  padding: 20px 0;
}

.logo-registro {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 15px;
}


@media (min-width: 1000px) {
  .pagina-registro {
    width: 98vw;
  }
}