.tipo-acceso {
  text-align: center;
  margin-bottom: 18px;
  width: 90%;
  background-color: #d6f3e1;
  border-radius: 10px;
  padding: 10px;
}

.acceso-header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icono-acceso {
  width: 35px;
  height: 35px;
}

.titulo-acceso {
  background-color: #95d5b2;
  color: #000;
  font-weight: bold;
  border-radius: 6px;
  padding: 5px 15px;
}

.descripcion-acceso {
  font-size: 0.95rem;
  color: #000;
  margin-top: 8px;
}
