.botones-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 15px;
}

.botones-login>.btn-iniciar {
  background-color: #0014ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-iniciar:hover {
  background-color: #0010b8;
}

.btn-atras {
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.btn-atras:hover {
  background-color: #27ae60;
}
.enlace-recuperar {
  margin-top: 10px;
}

.texto-recuperar {
  color: #0028ff;
  text-decoration: none;
  font-size: 0.95rem;
}

.texto-recuperar:hover {
  text-decoration: underline;
}
