.botones {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 20px;
}

button {
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-productos {
  background-color: #a5d8ff;
  color: green;
}

.btn-servicios {
  background-color: #a5d8ff;
  color: green;
}

button:hover {
  transform: scale(1.05);
}