.formulario-cambiar-contraseña {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  width: 250px;
  padding-left: 30px;
  padding-right: 30px;
  gap: 10px;
}

label {
  align-self: flex-start;
  color: #000;
  font-weight: 500;
  margin-bottom: 4px;
}

input {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #aaa;
  font-size: 1rem;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 40px;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}
