.encabezado {
  text-align: center;
  color: #000;
  margin-top: 15px;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

h2 {
  font-size: 1.5rem;
  margin-top: 10px;
}

p {
  font-size: 1rem;
  margin: 10px 20px;
  color: #1a1a1a;
}