.formulario-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 0;
  max-width: 400px;
  width: 90%;
  margin: 0px auto;
}

.formulario-base h2 {
  text-align: center;
  color: #002b7f;
  font-weight: 800;
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  .formulario-base {
    max-width: 900px;
  }
  .formulario-base h2 {
    font-size: 3rem
  }
}
