.header {
  text-align: center;
  color: black;
  margin-top: 20px;
}

.logo {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

h2 {
  margin: 5px 0;
  font-family: 'Arial', sans-serif;
}

.header-spacing {
  display: none;
}
@media (min-width: 1000px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
  }
}
