.lista-accesos {
  text-align: center;
  color: #000;
  margin-top: 15px;
  width: 90%;
}

.titulo-principal {
  font-size: 1.3rem;
  font-weight: bold;
}

.subtitulo {
  font-size: 1rem;
  margin-bottom: 15px;
}
