.pagina-servicios {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Arial", sans-serif;
  padding-bottom: 30px;
}

@media (min-width: 1000px) {
  .pagina-servicios {
    width: 98vw;
  }
  .pagina-servicios h2 {
    color: #002b7f;
    font-weight: 800;
  }
}
